body,
html {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: url(./assets/sunset.JPG);
    background-size: cover;
    font-family: serif;
}

#title-section {
    text-transform: uppercase;
    margin: 3vh;
}

.title {
    margin: 0;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.section-text {
    font-size: 1.5em;
    font-weight: 600;
    font-stretch: expanded;
}

#action-section {
    width: 80vw;
}

.section-button {
    border-radius: 1em;
    background: #000000;
    border: 1px solid white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.5s;
}

.section-button:hover {
    background: #73adff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#title-section {
    animation: fade-in 0.9s;
    animation-fill-mode: backwards;
}

#action-section {
    animation: fade-in 0.9s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}