body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
}

header {
    padding: 24px;
}

.paragraph {
    width: auto;
    height: auto;
    padding: 24px;
    margin: 10px auto;
    font-size: medium; 
}

p, ul {
     max-width: 800px;
}

h1 {
    text-align: center;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    padding: 24px;
    padding-bottom: 0;
    margin: 0;
    font-weight: 600;
}

h3 {
    background-color: rgba(215, 123, 58, 0.85);
    text-align: center;
    padding: 16px;
    margin: 0
}
    
#up {
    position: fixed;
    right: 8px;
    top: 75%;
    width: 48px;
    height: auto;
}

.button-up {
    cursor: pointer;
}

#kayla {
    display: block;
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: 16px auto;
}

header {
    padding: 16px 48px;
    background-color: rgba(215, 123, 58, 0.85);
}

nav {
    width: 100%;
    height: auto;   
}

.navbar>ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(./assets/sunset.JPG);
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link {
    color: black;
    font: 24px sans-serif;
    margin: 0 auto;
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.link:active {
    color: #9cb1c2;
    font: 24px sans-serif;
    margin: 0 auto;
    font-weight: 600;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    margin: 0px;
    background-color: rgba( 156, 177, 194, 0.85);
}

footer>ul {
    list-style: none;
    color: black;
    margin: 8px;
}

.icon {
    width: 32px;
    height: auto;
    padding: 8px;
    padding-bottom: 0px;
    margin-bottom: -4px;
}

.copy {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 16px;
}

