body,
html {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgba( 156, 177, 194, 0.85);
}

#intro {
    width: auto;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 22px;
    margin: 10px auto;
    font-size: medium;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    padding: 1em;
    margin: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#sub>li {
    padding-left: 22px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#up {
    position: fixed;
    left: 92%;
    top: 75%;
    width: 5%;
    height: auto;
}

#down {
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kayla {
    display: flex;
    align-self: center;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 1em;
}

header {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(215, 123, 58, 0.85);
}

nav {
    width: 100%;
    height: 20%;
}

.navbar>ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#topimg {
    padding: 1.5em;
    background-image: url(./assets/sunset.JPG);
    background-size: 100% auto;
    background-blend-mode: lighten;
}

#topimg>div {
    display: flex;
    justify-content: center;
}

.link {
    color: black;
    font: 1.5em sans-serif;
    margin: 0 auto;
    font-weight: bold;
}

.link:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.selected {
    font: 1.5em sans-serif;
    color: #9CB1C2;
    font-weight: bold;
    margin: 0 auto;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer {
    display: flex;
    padding-top: 20px;
    margin: 0px;
    border: 0px;
    background-color: rgba(156, 131, 126, 0.85);
}

#ftlinks {
    padding: 0;
    list-style: none;
    color: black;
    margin: 1em;
}

#ftlinks>ul {
    margin-bottom: 0;
}

#ic {
    width: 35px;
    height: auto;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#copy {
    margin-bottom: 0;
    margin-top: 2em;
}


/* form styles */

form {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: fit-content;
    /* Form outline */
    padding: 1em;
    margin: auto;
    border: 1px solid black;
    border-radius: 1em;
}

form>ul {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

form>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    margin: 5px;
    margin-right: 0px;
    text-align: left;
}

input,
textarea {
    margin: 5px;
    margin-right: 0px;
    text-align: right;
    font: 1em sans-serif;
    width: auto;
    box-sizing: border-box;
    border: 1px solid black;
}

input:focus,
textarea:focus {
    border-color: #0c3c94;
}

textarea {
    vertical-align: top;
    height: 100%;
}

.button {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

button {
    text-align: center;
    color: white;
    background-color: #0c3c94;
    padding: 5px;
    width: 25%;
    border: 1px solid black;
    border-radius: 1em;
    margin-left: 10px;
}